.create-note-wrapper {
    border: 1px solid #cbcbcb;
    clear: both;
    width: 40%;
    margin: 0 auto;
    padding: .5em;
}

.create_note {
    background-color: #fff;
    border: 1px solid #cbcbcb;
}

.create_note form input[type="textarea"] {
    height: 1em;
    width: 85%;
    border-width: 0;
    font-size: 1em;
}

.create_note form input[type="text"] {
    height: 1em;
    width: 85%;
    border-width: 0;
    font-size: 1em;
}

.create_note form input[type="text"]:focus {
    outline: none;
}

.create_note ul {
    list-style: none;
    padding: 1em;
}

.create_note .title {
    /*display: none;*/
    font-weight: bold;
    color: #666666;
}

.create_note .content {
    width: 100%;
    border: none;
    padding-top: 2em;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #666666;
}

.create_note .content:focus {
    border: none;
    outline: none;
}

.btn-save {
    background-color: #498AF3;
    color: #fff;
    margin: 1em 1em 0 0;
    border-radius: 3px;
    padding: .6em 1.2em;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.create_note form .btn-save {
    float: right;
}

.btn-save:hover {
    opacity: .8;
}

.notes-wrapper {
    /*border-bottom: 1px solid #cbcbcb;*/
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
    margin-top: 3em;
/*    padding-bottom: 3em;*/
}

.note {
    width: 25%;
    background-color: #fff;
    border: .3em solid #fff;
    float: left;
    position: relative;
    margin: 1em 0 1em 3.3em;
}

.note:hover {
    cursor:url("{% static "assets/img/pencil.png" %}", -moz-zoom-in, auto);

}

.notes-wrapper .notes {
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    overflow: auto;

}

.note .title {
    width: 100%;
    border-width: 0;
    font-size: 1.3em;
    font-weight: bold;
    color: #666666;
}


.note .content {
    width: 100%;
    border-width: 0;
    font-size: 1em;
    padding-top: 2em;
    color: #666666;
    line-height: 1.7em;
}

.note form input[type="text"]:focus {
    outline: none;
}

.note form textarea:focus {
    outline: none;
}



.note .options {
    width: 100%;
    display: none;
    border-width: 0;
    position: absolute;
    bottom: 0;
}

.notes .note .options ul li {
    display: inline;
    margin: 0 auto;
    padding: 0 .3em 0 1em;
}

.notes .note .options ul li:hover {
    cursor: pointer;
    opacity: .7;
}

.notes .note .options .btn-save {
    float: right;
    margin: 0 1em 1em 0;
}

.notes .note .colorpicker {
    display: none;
}

.display-options {
    float: right;
    width: 25%;
}

.display-options ul li {
    display: inline;
    margin-right: 1em;
}

.display-options ul li:hover {
    cursor: pointer;
}

/*landing page*/

.init {
    width: 43%;
    margin: 0 auto;
    clear: both;
    padding-top: 1.5em
}

.init header {
    text-align: center;
    font-size: 3em;
    padding-bottom: 2em;
    text-shadow: 1px 1px 1px;
    color: #666666;
}

.init header p {
    font-style: italic;
    font-size: .5em;
}

.init .login {
    float: left;
}

.init .sign-in {
    float: right;
}

.init .sign-in ul li {
display: inline;
}

.init article {
    width: 45%;
    /*border: solid 1px;*/
    border-radius: .5em;
    background-color: #fff;
    padding: 2em 0;
    box-shadow: 1px 1px 1px #333;
    color: #666666;
}

.init article header {
    color: #666666;
    font-size: 2em;
    padding-bottom: .7em;
    text-align: left;
}

.init article label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.init article input[type="email"], input[type="password"] {
    border-width: 0;
    /*padding-bottom: */
    margin-bottom: 1em;
    /*background-color: #DCD7CE;*/
    background-color: white;
    /*width: 100%;*/
    padding: 1em 0;
}

.init article input[type="email"]:focus, input[type="password"]:focus {
    outline: 0;
    /*background-color: #e7e3dd;*/
    background-color: white;


/*border-color: #e9322d;
-webkit-box-shadow: 0 0 6px #f8b9b7;
-moz-box-shadow: 0 0 6px #f8b9b7;
box-shadow: 0 0 6px #f8b9b7;
*/}

.init article input[type="email"]:-webkit-autofill, input[type="password"]:-webkit-autofill {
    /*box-shadow: 0 0 0px 1000px #e7e3dd inset;*/
    box-shadow: 0 0 0px 1000px white inset;

}

.init .bottom {
    text-align: center;
}

.init .btn-save {
    padding: .6em 2em;
    margin: 0 auto;
}

.init .btn-save:hover {
    opacity: .7;
}

.register_success {
    text-align: center;
    color: #666666;
    font-size: 1.5em;
    margin: 0 auto;
    border-top: 3px solid;
    border-top-color: rgb(220, 33, 39);
}

/*________________________________________

MEDIA QUERIES
________________________________________*/


@media (max-width: 1024px) {
.init {
    width: 90%;
}

.init header {
    padding-bottom: 1em;
}

.init .login {
    width: 60%;
    float: none;
    margin: 0 auto;
    margin-bottom: 2em;
}

.init .sign-in {
    width: 60%;
    margin-top: 2em;
    float: none;
    margin-bottom: 2em;
    margin: 0 auto;
}

.display-options {
    display: none;
}

.create-note-wrapper {
    width: 100%;
    border: 0;
    padding: 0;
}

.create-note-wrapper .create_note {
    width: 90%;
    margin: 0 auto;
}

.notes-wrapper {
    width: 100%;
}

.notes-wrapper .notes {
    width: 100%;
}

.note {
    width: 70%;
    float: none;
    margin: 0 auto;
    margin-bottom: 2em;
}

}

@media (max-width: 550px) {



.init {
    width: 90%;
}

.init header {
    padding-bottom: 1em;
}

.init .login {
    width: 100%;
    float: none;
}

.init .sign-in {
    width: 100%;
    margin-top: 2em;
    float: none;
    margin-bottom: 2em;
}
}