<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Tidy Your Mind Confirmation</title>
    </head>
    <body style="text-align: center; color: #666666;" >
    <style type="text/css">
    .btn:hover { cursor: pointer !important; opacity: .7 !important; }
    </style>
      <header><h1>Tidy Your Mind</h1></header>
    <section class="welcome" style="padding-bottom: 2em;">
        <header><h3>Welcome {{ user.username }}!</h3></header>
        <p>Please, click the button below to activate your account. After that, you will be able to log in the system.</p>
        <a href="http://tidyourmind.herokuapp.com{% url 'confirm' user.username %}" class="btn" style="background-color: #498AF3; color: #fff; border-radius: 3px; opacity: 1; text-decoration: none; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; -ms-transition: opacity .5s; transition: opacity .5s; margin: 1em 0 3em; padding: .6em 1.2em;">Activate account</a>
    </section>
</body>
</html>
