{% extends "base.html" %}
{% load static %}
{% block extra_head %}
{% endblock %}

{% block content %}

    <section class="init">
        <header>
            <h1>Tidy Your Mind</h1>
            <p>never forget anything</p>
        </header>
        <article class="login">
        <header>Log in</header>
            <form action="{% url 'auth' %}" method="post">
                {% csrf_token %}
                <ul>
                    <li><input type="email" name="username" value="" id="username" placeholder="email" required></li>
                    <li><input type="password" name="password" value="" id="password" placeholder="password" required></li>
                </ul>
                <div class="bottom">
                    <input class="btn-save" type="submit" value="Login">
                </div>
            </form>
        </article>

        <article class="sign-in">
            <header>Sign in</header>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input type="email" name="username" value="" id="username" autocomplete="off" placeholder="email" required>
                <ul>
                    <li><input type="password" name="password1" value="" id="password1" placeholder="password" required></li>
                    <li><input type="password" name="password2" value="" id="password2" placeholder="repeat password" required></li>
                </ul>
                <div class="bottom">
                    <input class="btn-save" type="submit" value="Sign in">
                </div>
            </form>
        </article>
    </section>

{% endblock %}